:root{
    --goldenrod-blaze: #F2CB05;
    --sunlit-gold: #F2B705;
    --fiery-orange: #F27405;
    --ember-orange: #F24405;
    --russet-brown: #8C1D04;

}


.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bk-main.png);
    background-color: var(--sunlit-gold);
    background-blend-mode: color-burn;
    background-size: 40%;
    position: relative;
    display: flex;
}


.header .navbar {
    width: 100%;
    height: 10%;
    top: 0;
    display: flex;
    background: linear-gradient(var(--russet-brown)0%, var(--ember-orange) 80%, var(--fiery-orange) 100%);
    position: fixed;
    z-index: 2;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logo img{
    max-width: 8%;
    top: 0;
    filter: drop-shadow(1px 1px 2.1px #000);
    position: absolute;
}

.menu {
    width: 80%;
}
.menu ul{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    gap: 3rem;
    list-style: none;
    padding-right: 10rem;
}

.menu ul li a:hover{
    background-color: var(--sunlit-gold);
    color: var(--russet-brown);
    padding: 5px 10px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .5s;
}

.presentMsg{
    width: 40%;
    position: absolute;
    top: 12rem;
    left: 5rem;
    z-index: 1;
    color: var(--russet-brown);
    font-size: 25px;
    text-shadow: 1px 1px 1px var(--ember-orange);
}

/* .icons i:hover{
    color: var(--russet-brown);
    transition: .5s;
    cursor: pointer;
    background-color: var(--sunlit-gold);
    padding: 5px;
    border-radius: 10px;
} */

#cento{
    max-width: 52%;
    position: absolute;
    right: 2rem;
    top: 9rem;
    z-index: 1;
    filter: drop-shadow(2px 2px 10px #000);
}


.split-page{
    width: 100%;
    height: 45vh;
    background-image: url(../images/bk-main06.png);
    position: absolute;
    z-index: 0;
    bottom: 0;
}
    
#sp2{
    background-image: url(../images/bk-main06\ -\ Copia.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
    background-position: 70%;
}
.split-page2{
    background-image: url(../images/bk-main06.png);
    width: 100%;
    height: 40vh;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    background-position: 40%;
    z-index: 0;
}
.presentation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
}

.content-presentation{
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-presentation .service{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    color: var(--russet-brown);
    text-align: center;
    font-weight: 600;
}

.service i{
    padding: 15px 15px;
    font-size: 50px;
}

main{
    width: 100%;
    height: 1200px;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(var(--goldenrod-blaze) 0%, var(--sunlit-gold) 50% , var(--fiery-orange) 100%) ;
    overflow: hidden;
}

.container__our-products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-our-products{
    width: 80%;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--russet-brown);
}

.container__our-products h1{
    font-size: 60px;
}

.container__our-products input{
    width: 4rem;
    height: 2rem;
    appearance: none;
    border-radius: 30px;
    background-color: var(--russet-brown);
    cursor: pointer;
    position: relative;
}

.container__our-products input::before{
    content: "";
    height: 20px;
    width: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0.3rem;
    border-radius: inherit;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.container__our-products input:checked::before{
    left: 2.1rem;
    background-color: #fff;
}

.choseProduct{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 700;
}

.products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    color: #fff;
}

.product {
    width: 350px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.product img{
    width: 75%;
    height: 75%;
    border-radius: 15px;
    transition: .7s;
    border: 1.5px solid var(--russet-brown);
    box-shadow: 1px 1px 15px black;
}

.product img:hover{
    transform: scale(1.02);
    transition: .7s;
    cursor: pointer;
}

.FrozenProduct {
    width: 350px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.FrozenProduct img{
    width: 75%;
    height: 75%;
    border-radius: 15px;
    transition: .7s;
    border: 1.5px solid var(--russet-brown);
    box-shadow: 1px 1px 15px black;
}

.FrozenProduct img:hover{
    transform: scale(1.02);
    transition: .7s;
    cursor: pointer;
}

.removeFried{
    display: none;
}

#price{
    font-size: 25px;
    color: #fff;
    font-weight: 900;
}


footer{
    width: 100%;
    display: flex;
    position: relative;
    background-color: var(--russet-brown);
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.container-footer{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3rem;
    justify-content: space-between;
}

.container-footer i{
    font-size: 25px;
    color: #fff;
}

.logo-footer{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    flex-direction: column;  
    color: #fff;
    font-size: 18px;
    position: relative;
}


.contact-footer img{
    max-width: 120px;
    margin-top: -1rem;
}

.contact-footer{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
}

.contact-footer i, .adress_and_follow-footer i{
    background: linear-gradient(var(--goldenrod-blaze), var(--sunlit-gold) , var(--fiery-orange));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.contact-footer a{
    text-decoration: none;
    color: #fff;
}

.adress_and_follow-footer{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
}

.icons-network{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#ifood{
    max-width: 10%;
}
#ifood:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.rodape {
    width: 94%;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    justify-content: center;
    color: #fff;
    border-top: 1px solid white;
}

.rodape a{
    color:#fff;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--goldenrod-blaze);
}

::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: var(--russet-brown);
}

@media screen and (max-width: 1060px) {
    .split-page {
        bottom: -100px;
    }
    main {
        height: 100rem;
    }
    #sp2{
        bottom: -5rem;
    }
    header h1{
        font-size: 1.7rem;
    }
    .content-presentation {
        flex-direction: column;
        gap: 3rem;
    }
    .content-presentation .service {
        width: 45%;
    }
    .logo img {
        max-width: 15%;
    }
}

@media screen and (max-width: 720px) {
    main {
        height: 130rem;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .presentMsg {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        width: 70%;
        top: 1rem;
        left: 0;
        text-align: center;
    }
    #cento {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 3rem;
        right: 0;
    }
    .menu ul{
        gap: 2rem;
        padding-left: 1px;
        padding-right: 0;
        justify-content: flex-start;
    }
    .menu a {
        padding: 0;
    }
    footer {
        font-size: 10px;
    }
    .container-footer p, a, span{
        font-size: 15px;
        text-align: center;
    }
    .choseProduct p{
        font-size: 20px;
    }
}

@media screen and (max-width: 540px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-footer p, span{
            width: 250px;
    }
    .contact-footer {
        justify-content: space-around;
    }
    .content-presentation .service {
        width: 90%;
    }
    .content-our-products h1{
        font-size: 30px;
    }

    .menu {
        width: 100%;
    }
    .menu ul {
        align-items: center;
        justify-content: center;
    }
    .logo {
        position: absolute;
        width: 100%;
        top: 3.5rem;
    }
    .logo img {
        max-width: 27%;
        top: -3.5rem;
        left: 1rem;
    }
    .presentMsg  {
        width: 90%;
    }
    .presentMsg p {
        font-size: 20px;
    }
    .menu ul li a{
        font-size: 1rem;
    }
    .container__our-products input {
        width: 10rem;
    }
    #ifood {
        max-width: 52%;
    }
    .rodape p{
        text-align: center;
    }
}

.navbar__mobile {
    display: none;
}
  
.mobile__links {
    display: none;
  }

@media only screen and (max-width: 768px) {
    .navbar__mobile {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
    .menu {
        display: none;
    }
  
    .navbar__mobile img {
      width: 3.6rem;
      height: 3.6rem;
      cursor: pointer;
    }
  
    .navbar__mobile.active .mobile__links {
      display: flex;
      flex-direction: column;
      background-color: #f2b705f1;
      width: 100%;
      position: absolute;
      top: 98%;
      right: 0;
      padding: 1rem 0;
      box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
      z-index: -1;
    }
  
    .navbar__mobile.active .mobile__links li {
      margin-right: 0;
    }
  
    .navbar__mobile.active .mobile__links li a {
      padding: 1rem;
      display: block;
      text-align: center;
      color: #8C1D04;
      font-weight: bolder;
    }
  }